# Python cache
__pycache__/
*.py[cod]

# Environment
.venv/
venv/
env/
ENV/
*.env

# Jupyter
.ipynb_checkpoints/

# System
.DS_Store
*.swp

# FAISS and chunk data
fitgen_vector_db/
fitgen_vector_db_topic*/
extracted_texts/
pdf_output/
extracted_gemini_text/

# VSCode
.vscode/

# Logs and outputs
*.log
*.sqlite
*.db
*.cache/
.streamlit/
